body {
  font-family: 'Lato', sans-serif;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/140/110/original/billy-huynh-v9bnfMCyKbg-unsplash.jpg?1724091266);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #020205;
}
h1 {
  font-size: 3rem;
  margin-bottom: 0%;
}

.container {
  background: #fafafa96;
  margin: 50px auto;
  max-width: 700px;
  padding: 30px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 100px #42403f79;
}

.search-input {
  background: #e5f4fa;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  width: 80%;
  font-size: 1rem;
  box-shadow: 1px 1px 10px #42403f79;
}
.search-button {
  background: #3e4a61bb;
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  color: white;
  font-size: 1rem;

  margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
}
.forecast {
  display: flex;
  justify-content: space-between;
}
.place-temperature {
  display: flex;
}
.temperature {
  font-size: 5rem;
  font-weight: 700;
  margin-left: 0%;
  margin-top: 60px;
}
.temp-icon {
  width: 88px;
  height: 88px;
  margin-top: 60px;
}
.temp-degree {
  font-size: 2rem;
  margin-top: 50px;
  font-weight: 500;
}

a {
  color: #0086d3;
}

strong {
  color: #e43a19;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  flex-wrap: wrap;
}
.weather-forecast-day {
  background: #3e4a61bb;
  backdrop-filter: blur(5px);
  padding: 10px;
  margin: 10px 5px;
  border-radius: 10px;
  color: white;
  box-shadow: 1px 1px 10px #42403f79;
}
.weather-forecast-date {
  margin-bottom: 10px;
  text-align: center;
}
.weather-forecast-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.weather-forecast-temperature {
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  display: flex;
}
footer {
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }
  .search-input {
    padding: 10px 25px;
    width: 70%;
  }
  .search-button {
    padding: 10px 25px;
  }
}

@media (max-width: 475px) {
  h1 {
    font-size: 2rem;
  }
  .temperature {
    font-size: 4rem;
  }
  .search-input {
    padding: 10px 15px;
  }
  .search-button {
    padding: 10px 15px;
  }
  .temp-icon {
    margin-top: 40px;
  }
  .temp-degree {
    font-size: 1.5rem;
    margin-top: 50px;
    font-weight: 500;
  }
}
@media (max-width: 372px) {
  .container {
    padding: 20px;
  }
  h1 {
    font-size: 2rem;
  }

  .temperature {
    font-size: 3rem;
  }
  .search-input {
    padding: 8px 12px;
  }
  .search-button {
    padding: 8px 12px;
  }
  .temp-icon {
    margin-top: 55px;
    width: 66px;
    height: 66px;
  }
  .temp-degree {
    font-size: 1rem;
    margin-top: 50px;
    font-weight: 500;
    overflow: hidden;
  }
}
